<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Page Not Found</title>
  <!-- Styling -->
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body class="container-fluid p-0 m-0">
<!-- Navigtion -->
<nav class="row g-0 m-0">
  <div class="col d-flex justify-content-center align-items-center">
    <h1 class="d-flex m-0 p-0 logo-wrapper">
      <a href="/home">
        <span>Instamarket</span>
      </a>
    </h1>
  </div>
</nav>
<main class="d-flex justify-content-center align-items-center error-page">
  <div>
    <h2>Oops, something bad happened!</h2>
    <p class="text-center"><a href="/home" class="fancy-link">Go home</a></p>
  </div>
</main>
</body>
</html>