<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/fragments :: head"></head>

<body class="container-fluid p-0 m-0">
    <!-- Navigtion -->
    <nav class="row g-0 m-0">
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="d-flex m-0 p-0 logo-wrapper">
                <a href="/">
                    <span>Instamarket</span>
                </a>
            </h1>
        </div>
    </nav>
    <main class="py-4">
        <form th:action="@{/login}" th:method="POST" class="fancy-form">
            <div class="form-wrapper">
                <h2 class="mb-2">Login</h2>
                <div class="mb-2 form-alert" th:if="${loginFailed}">
                    <p class="m-0 p-0">Incorrect username/password.</p>
                </div>
                <div class="mb-2">
                    <input type="text" name="username" th:value="${username}" class="form-control" placeholder="Username">
                </div>
                <div class="mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary w-100" name="login">Login</button>
                <div class="mt-4 pt-2 form-footer">
                    <p class="m-0 p-0">Don't have an account? <a href="/register" class="fancy-link">Register now</a></p>
                </div>
            </div>
        </form>
    </main>
    <th:block th:if="${passwordChanged}">
        <!-- Toast -->
        <div class="position-fixed top-0 start-0 p-3 w-100 d-flex justify-content-center align-items-center flex-column" style="z-index: 15;">
            <div class="toast align-items-center show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Profile password has been changed successfully!
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </th:block>
    <footer th:replace="common/fragments :: footer"></footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>