<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/fragments :: head"></head>

<body class="container-fluid p-0 m-0">
    <nav th:replace="common/fragments :: secondary-navigation"></nav>
    <!-- Messaging main section -->
    <main class="chat-page">
        <!-- TODO New chat page design -->
        <form id="messaging-form" class="p-3 mt-2">
            <textarea name="msg-area" class="form-control"></textarea>
            <button class="btn btn-primary col-12 mt-2">Send</button>
        </form>
    </main>
    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/js/messaging.js" type="module"></script>
</body>

</html>