<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/fragments :: head"></head>

<body class="container-fluid p-0 m-0">
    <nav th:replace="common/fragments :: secondary-navigation"></nav>
    <main class="form-page">
        <ul class="list-unstyled profile-actions-list m-0" th:object="${profileInfo}">
            <li class="d-flex flex-row p-3 justify-content-start align-items-center">
                <img th:src="*{profilePictureUrl}" alt="#" class="profile-image">
                <h3 class="m-0 ms-4 p-0" th:text="|*{firstName} *{lastName}|">Nicolle Andrews</h3>
            </li>
            <th:block sec:authorize="!hasAnyRole('ADMIN', 'SELLER')">
                <li th:if="!${sellerApplied}">
                    <a href="/profile/become-seller" class="action-link d-flex justify-content-between align-items-center">
                        <span>Become a seller</span>
                        <i class="fas fa-coins"></i>
                    </a>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ADMIN')">
                <li>
                    <a href="/admin/approve" class="basic-link">Approve sellers</a>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('SELLER')">
                <li>
                    <a href="/subscribers" class="basic-link">My subscribers</a>
                </li>
                <li>
                    <a href="#" class="basic-link">Statistics</a>
                </li>
                <li>
                    <a th:href="@{/profile/{id}/showcase(id = *{id})}" class="basic-link">My offers</a>
                </li>
                <li>
                    <a href="/" class="basic-link">Orders</a>
                </li>
            </th:block>
            <li>
                <a href="/orders" class="basic-link">My orders</a>
            </li>
            <li>
                <a href="/wishlist" class="basic-link">My wishlist</a>
            </li>
            <li>
                <a href="/profile/change/names" class="basic-link">Change profile names</a>
            </li>
            <li>
                <a href="/profile/change/picture" class="basic-link">Change profile picture</a>
            </li>
            <li>
                <a href="/profile/manage/addresses" class="basic-link">Manage addresses</a>
            </li>
            <li>
                <a href="/profile/change/password" class="basic-link">Change password</a>
            </li>
            <li>
                <form th:action="@{/logout}" th:method="POST">
                    <button class="basic-link d-flex justify-content-between align-items-center" type="submit"><span>Logout</span><i class="fas fa-sign-out-alt"></i></button>
                </form>
            </li>
        </ul>
    </main>
    <!-- Toast -->
    <div class="position-fixed top-0 start-0 p-3 w-100 d-flex justify-content-center align-items-center flex-column" style="z-index: 15;">
        <th:block th:if="${pictureAlert}">
            <div class="toast align-items-center show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" th:text="${pictureAlert}">
                        Profile picture alert text
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </th:block>
        <th:block th:if="${sellerRequest}">
            <div class="toast align-items-center show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body" th:text="${sellerRequest}">
                        Alert text
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </th:block>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>