<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/fragments :: head"></head>

<body class="container-fluid p-0 m-0">
    <nav th:replace="common/fragments :: secondary-navigation"></nav>
    <main class="form-page">
        <div class="row g-3 m-0 p-0">
            <!-- Orders to accept -->
            <div class="col-12 col-lg-4">
                <div class="specifications-empty-message mb-2">
                    <h4 class="m-0">Orders to accept</h4>
                </div>
                <div class="specifications-empty-message mb-2" th:each="order : ${recentOrders}" th:object="${order}">
                    <a th:href="@{/offers/{id}/details(id=*{offerId})}" class="d-flex offer-title offer-link mb-2" th:text="*{offerTitle}">Order title</a>
                    <div class="row g-2 m-0 mb-2 p-0">
                        <div class="col-6">
                            <div class="product-images-wrapper d-flex flex-nowrap">
                                <div class="product-images-previewer d-flex justify-content-between">
                                    <button type="button" class="d-flex justify-content-center align-items-center" th:classappend="${(order.offerImages.size() > 1) ? '' : 'd-none'}" disabled><i class="fas fa-chevron-left"></i></button>
                                    <button type="button" class="d-flex justify-content-center align-items-center" th:classappend="${(order.offerImages.size() > 1) ? '' : 'd-none'}"><i class="fas fa-chevron-right"></i></button>
                                </div>
                                <div class="ratio ratio-1x1 product-image" th:each="imgName : *{offerImages}">
                                    <img th:src="@{/headingImage/{name}(name = ${imgName})}" alt="#">
                                </div>
                            </div>
                        </div>
                        <th:block th:if="*{optionValue != null}">
                            <div class="col-6">
                                <div class="ratio ratio-1x1">
                                    <img th:src="@{/optionImage/{id}(id = ${order.optionKey})}" alt="#" class="w-100 rounded shadow-sm option-selected" title="Selected option">
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="m-0" th:text="|Selected option: *{optionValue}|">Selected option title</h5>
                            </div>
                        </th:block>
                    </div>
                    <div class="mb-2">
                        <p class="m-0">Total price: <span class="order-price" th:text="|$${#numbers.formatDecimal(order.totalPrice, 0, 'WHITESPACE', 2, 'POINT')}|">$0.00</span></p>
                        <p class="m-0">Quantity: <span class="fw-bold" th:text="|*{quantity}x|">Quantity</span></p>
                        <p class="m-0"><strong>Delivery address: </strong><span th:text="*{deliveryAddress}">Order delivery address</span></p>
                        <p class="m-0"><strong>Order time: </strong><span th:text="${#temporals.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}">Order time</span></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a th:href="@{/seller/orders/{id}/accept(id = *{id})}" role="button" class="btn btn-primary btn-lg">Accept</a>
                        <a th:href="@{/seller/orders/{id}/cancel(id = *{id})}" role="button" class="btn btn-secondary btn-lg" onclick="return confirm('Are you sure to cancel the order?');">Cancel</a>
                    </div>
                </div>
            </div>
            <!-- Orders to ship -->
            <div class="col-12 col-lg-4">
                <div class="specifications-empty-message mb-2">
                    <h4 class="m-0">Orders to ship</h4>
                </div>
                <div class="specifications-empty-message mb-2" th:each="order : ${acceptedOrders}" th:object="${order}">
                    <a th:href="@{/offers/{id}/details(id=*{offerId})}" class="d-flex offer-title offer-link mb-2" th:text="*{offerTitle}">Order title</a>
                    <div class="row g-2 m-0 mb-2 p-0">
                        <div class="col-6">
                            <div class="product-images-wrapper d-flex flex-nowrap">
                                <div class="product-images-previewer d-flex justify-content-between">
                                    <button type="button" class="d-flex justify-content-center align-items-center" th:classappend="${(order.offerImages.size() > 1) ? '' : 'd-none'}" disabled><i class="fas fa-chevron-left"></i></button>
                                    <button type="button" class="d-flex justify-content-center align-items-center" th:classappend="${(order.offerImages.size() > 1) ? '' : 'd-none'}"><i class="fas fa-chevron-right"></i></button>
                                </div>
                                <div class="ratio ratio-1x1 product-image" th:each="imgName : *{offerImages}">
                                    <img th:src="@{/headingImage/{name}(name = ${imgName})}" alt="#">
                                </div>
                            </div>
                        </div>
                        <th:block th:if="*{optionValue != null}">
                            <div class="col-6">
                                <div class="ratio ratio-1x1">
                                    <img th:src="@{/optionImage/{id}(id = ${order.optionKey})}" alt="#" class="w-100 rounded shadow-sm option-selected" title="Selected option">
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="m-0" th:text="|Selected option: *{optionValue}|">Selected option title</h5>
                            </div>
                        </th:block>
                    </div>
                    <div class="mb-2">
                        <p class="m-0">Total price: <span class="order-price" th:text="|$${#numbers.formatDecimal(order.totalPrice, 0, 'WHITESPACE', 2, 'POINT')}|">$0.00</span></p>
                        <p class="m-0">Quantity: <span class="fw-bold" th:text="|*{quantity}x|">Quantity</span></p>
                        <p class="m-0"><strong>Delivery address: </strong><span th:text="*{deliveryAddress}">Order delivery address</span></p>
                        <p class="m-0"><strong>Order time: </strong><span th:text="${#temporals.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}">Order time</span></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a th:href="@{/seller/orders/{id}/ship(id = *{id})}" role="button" class="btn btn-secondary btn-lg col-12" onclick="return confirm('Are you sure to ship the order?');">Ship Order</a>
                    </div>
                </div>
            </div>
            <!-- Completed Orders -->
            <div class="col-12 col-lg-4">
                <div class="specifications-empty-message mb-2">
                    <h4 class="m-0">Completed Orders</h4>
                </div>
                <div class="specifications-empty-message mb-2" th:each="order : ${completedOrders}" th:object="${order}">
                    <a th:href="@{/offers/{id}/details(id=*{offerId})}" class="d-flex offer-title offer-link mb-2" th:text="*{offerTitle}">Order title</a>
                    <div class="row g-2 m-0 mb-2 p-0">
                        <div class="col-6">
                            <div class="product-images-wrapper d-flex flex-nowrap">
                                <div class="product-images-previewer d-flex justify-content-between">
                                    <button type="button" class="d-flex justify-content-center align-items-center" th:classappend="${(order.offerImages.size() > 1) ? '' : 'd-none'}" disabled><i class="fas fa-chevron-left"></i></button>
                                    <button type="button" class="d-flex justify-content-center align-items-center" th:classappend="${(order.offerImages.size() > 1) ? '' : 'd-none'}"><i class="fas fa-chevron-right"></i></button>
                                </div>
                                <div class="ratio ratio-1x1 product-image" th:each="imgName : *{offerImages}">
                                    <img th:src="@{/headingImage/{name}(name = ${imgName})}" alt="#">
                                </div>
                            </div>
                        </div>
                        <th:block th:if="*{optionValue != null}">
                            <div class="col-6">
                                <div class="ratio ratio-1x1">
                                    <img th:src="@{/optionImage/{id}(id = ${order.optionKey})}" alt="#" class="w-100 rounded shadow-sm option-selected" title="Selected option">
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="m-0" th:text="|Selected option: *{optionValue}|">Selected option title</h5>
                            </div>
                        </th:block>
                    </div>
                    <div class="mb-2">
                        <p class="m-0">Total price: <span class="order-price" th:text="|$${#numbers.formatDecimal(order.totalPrice, 0, 'WHITESPACE', 2, 'POINT')}|">$0.00</span></p>
                        <p class="m-0">Quantity: <span class="fw-bold" th:text="|*{quantity}x|">Quantity</span></p>
                        <p class="m-0"><strong>Delivery address: </strong><span th:text="*{deliveryAddress}">Order delivery address</span></p>
                        <p class="m-0"><strong>Order time: </strong><span th:text="${#temporals.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}">Order time</span></p>
                        <p class="m-0"><strong>Delivery date: </strong><span th:text="${#temporals.format(order.deliveryDate, 'dd/MM/yyyy')}">Delivery time</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>